/*BASE STYLES*/
a:link{
	text-decoration: none;
	color: #f16745;
}

a:visited {
	text-decoration: none;
	color: #ffc65d;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

p {
	width: 75%;
	text-align: justify;
}

section {
	padding: 20px;
}

section h2 {
	text-align: center;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: #f16745;
	font-size: 4em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	color: #f16745;
	font-size: 2em;

}



/*HEADER*/

header {
	height: 100vh;
	background-image: url(../assets/images/background.jpg);
	background-size: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}

ul.menu li {
	min-width: 42px;
	text-align: center;
}


.logo {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Hind', sans-serif;
	min-width: 60px;
	font-size: 3em;
	color: #f16745;
}

h1 {
	font-family: 'Roboto', sans-serif;
	color: #f16745;
}


.menu {
	width: 500px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	display: block;
	position: absolute;
	margin: 0;
	top: 88%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}

.arrow {
	display: block;
	position: absolute;
	margin: 0;
	top: 95%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 3em;
	height: 3em;
}



/*ABOUT*/

#about {
	background-color: #f25f5c;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	min-height: 400px;
/*	display: flex;
*/	/*flex-direction: column;
	justify-content: space-around;
	align-items: center;*/
}



div.title-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.content {
	width: 100%;
	margin-top: 53px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
section#about div.title-container img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.social {
	margin-top: 37px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	font-size: 30px;
}

i {
	margin: 15px;
	color: #505050;
}



/*WORK*/

#work {
	background-color: #028090;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}


/*LIBRARY SECTION*/

.library {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

/*TESTING THE IMAGES--preferably on-hover/click will show then hide header and paragraph*/

.container { 
    width: 75vh; 
    height: 180px; 
    overflow: hidden; 
    margin: 20px;
}
.container img { 
    width: 100%;
}

.library-header {
	position: relative;
	text-align: center;
	margin: 0px;
}

.lib {
	max-width: 940px;
	width: 100%;
	height: auto;
	padding-bottom: 15px;
	padding-top: 15px;
}

/*WEB DESIGN SECTION*/

.websites {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 25px;
	margin-right: 25px;
	padding: 0;
	list-style: none;
}

.web {
	max-width: 940px;
	width: 100%;
	height: auto;
	padding-bottom: 15px;
	padding-top: 15px;
}



/*FOOTER*/

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}





/*RESPONSIVE*/

@media (min-width: 768px){
	

}