/*BASE STYLES*/
a:link{
	text-decoration: none;
	color: #f16745;
}

a:visited {
	text-decoration: none;
	color: #ffc65d;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

p {
	
}

section {
	padding: 20px;
}

section h2 {
	text-align: center;
}

h2 {
	font-family: 'Roboto', sans-serif;
	color: #f16745;
	font-size: 4em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	color: #f16745;
	font-size: 2em;

}



/*HEADER*/

header {
	height: 100vh;
	background-image: url(../assets/images/background.jpg);
	background-size: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding: 0;
}

ul.menu li {
	min-width: 42px;
	text-align: center;
}


.logo {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Hind', sans-serif;
	min-width: 60px;
	font-size: 3em;
	color: #f16745;
}

h1 {
	font-family: 'Roboto', sans-serif;
	color: #f16745;
}


.menu {
	width: 500px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	display: block;
	position: absolute;
	margin: 0;
	top: 88%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}

.arrow {
	display: block;
	position: absolute;
	margin: 0;
	top: 95%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 3em;
	height: 3em;
}



/*ABOUT*/

#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background:#ffa7a7; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
	background:#fff689; /* column 1 background colour */
}
#col1 {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}
#col2 {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
}

#col1 img {
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 53.120px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
    text-align: center;
}

.social {
	margin-top: 37px;
	display: block;
	font-size: 30px;
}

i {
	margin: 15px;
	color: #505050;
}

/*#about {
    display: block;
	background-color: #f25f5c;
	background-size: cover;
	margin: 0;
}

#container2 {
    display: block;
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
    background: #f25f5c;
}

#container1 {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    right: 50%;
}


.about_container {
    float: left;
    width: 46%;
    position: relative;
    left: 52%;
    overflow: hidden;
    display: block;
}


.about_content {
    float: left;
    width: 46%;
    position: relative;
    left: 56%;
    overflow: hidden;
    display: block;
}



.about_container img {
    display: block;
    position: relative;
    margin: 0 auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
    text-align: center;
}



.about_content p {
display: block;
}

.social {
	margin-top: 37px;
	display: block;
	font-size: 30px;
}

i {
	margin: 15px;
	color: #505050;
} 
*/



/*Skills*/

#projects {
    clear: both;
}
.skill {
 
}

.dot_fill {
    height: 20px;
    width: 20px;
    background-color: red;
    border: black solid;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: white;
    border: black solid;
}

.skill_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.skill_wrap p {
    font-size: 3em;
    padding: 15px 20px;
    background-color: grey;
    border-radius: 15px 0px 15px 0px;
    flex-basis: auto;
}

/*Projects*/

#pie {
    display: block;
    width: 500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

.project_wrap ul li {
    margin-left: 30px;
}

#projects div img {
    display: inline;
    float: left;
    margin-right: 40px;
    width: 200px;
    height: auto;
    clear: both;
}

.project_wrap {
    display: inline;
}





/*FOOTER*/

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}