/*BASE STYLES*/
@font-face {
    font-family: nickainley;
    src: url(../assets/fonts/nickainley/Nickainley-Normal.otf)
}

a:link{
	text-decoration: none;
	color: #f16745;
}

a:visited {
	text-decoration: none;
	color: #ffc65d;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

section {
	padding: 20px;
}

section h2 {
	text-align: center;
}

h2 {
	font-family: 'nickainley', cursive;
	color: #404040;
	font-size: 5em;
}

h3 {
	font-family: 'Roboto', sans-serif;
	color: #f16745;
	font-size: 1.75em;
}

ul {
    padding: 0px;
}



/*HEADER*/

header {
	height: 100vh;
	background-image: url(../assets/images/background.jpg);
	background-size: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding: 0;
}

ul.menu li {
	min-width: 42px;
	text-align: center;
}


.logo {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
	min-width: 60px;
}

h1 {
	font-family: 'nickainley', cursive;
	color: #f16745;
    font-size: 8em;
	color: #f16745;
}


.menu {
	width: 500px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	display: block;
	position: absolute;
	margin: 0;
	top: 88%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
}

.arrow {
	display: block;
	position: absolute;
	margin: 0;
	top: 95%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 3em;
	height: 3em;
}



/*ABOUT*/

#about {
	background-color: #f16745;
	background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: calc(100%-40px);
    padding: 60px;
}

.bio-title, .bio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.bio-content p {
    text-align: justify;
}

.bio-title h2 {
    margin-top: 0;
}

.profile {
    margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.social {
	display: block;
    text-align: center;
	font-size: 30px;
}

i {
	margin: 15px;
	color: #404040;
}


/*Skills*/

#skills {
    background-color: #f6f6f6;
    border-bottom: thin solid #a8a8a8;
}

#bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#bar li img {
    height: 100px;
    width: auto;
    margin: 20px;
}

/*Projects*/

#projects {
    background-color: #f6f6f6;
}

#pie {
    display: block;
    width: 500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

#project-wrap {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100%-40px);
}

#project-wrap div {
    width: 45%;
}


#project-wrap div img {
    height: 175px;
    max-width: 200px;
    width: auto;
}

#project-wrap div h3 {
    margin: 0;
}

#project-wrap div {
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.scholarship {
    width: calc(100%-40px);
    margin: 40px 40px 40px 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.scholarship img {
    width: 30%;
}

.scholarship div.wrap {
    width: 70%;
}

.wrap ul li {
    list-style: circle;
    margin: 5px 0;
}

.wrap ul li i {
    margin: 0px;
}



/*EDU*/

#edu {
    background-color: #ffc65d;
}

.edu-wrap {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.edu-wrap div {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#edu div i {
    font-size: 7em;
}

/*HIRE*/

#hire h3 {
    font-family: 'nickainley', cursive;
    font-size: 5em;
    text-align: center;
}

#hire {
    background-color: #404040;
}

/*FOOTER*/

footer {
    background-color: #404040;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer_menu {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-social {
    display: block;
    text-align: center;
	font-size: 30px;
}

.footer-social i {
    color: #f16745;
}