/* Responsive styles */

@media (max-width: 1150px) {
  #project-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  #project-wrap div {
    width: 75%;
  }

  #project-wrap div img {
    max-height: 100%;
    width: auto;
  }

  .scholarship {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .scholarship div.wrap h3 {
    text-align: center;
  }

  .scholarship img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 980px) {
  .edu-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
}


@media (max-width: 850px) {
  #about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .bio-content {
    width: 60%;
    margin-top: 66.4px;
  }
}

@media (max-width: 420px) {
    header div.logo h1 {
        font-size: 4em;
    }
    
    ul.menu {
        width: 90%;
    }
    
    #about {
        padding: 30px;
    }
    
    .bio-title {
        width: 100%;
    }
    
    .bio-content {
        width: 100%;
    }
    
    #bar li img {
        height: 2.5em;
        width: auto;
    }
    
    #pie {
        width: 90%;
    }
    
    #project-wrap div img {
        width: 30%;
    }
    
    #project-wrap div h3 {
        font-size: .75em;
    }
    
    .edu-wrap div p {
        font-size: .75em;
    }
}