/*BASE STYLES*/

.about {
	height: 100vh;
	background-color: lightgrey;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
}

.work {
	background-color: darkgrey;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
}

.contact {
	height: 100vh;
	background-color: purple;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}

img .web {
	max-width: 50%;
	height: auto;
}

/*FLEX*/

header {
	height: 100vh;
	background-image: url(assets/images/background.jpg);
	background-color: lightblue;
	background-size: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.logo {
	font-family: 'Nixie One', sans-serif;
	font-size: 3em;
	color: blue;
	order: -1;
}

.title {
	font-family: 'Open Sans Condensed', sans-serif;
	order: -2;
	background-color: green;
}

.menu {
	width: 300px;
	padding: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	order: 1;
	background-color: yellow;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.arrow {
	width: 3em;
	height: 3em;
}

.links {
	
}

.content {
	font-family: 'Open Sans Condensed', sans-serif;
	width: 75%;
	text-align: justify;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



















/*RESPONSIVE*/